/* Open Sans font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* Ralway font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
    --clr-primary-100: hsl(219, 30%, 18%);
    --clr-primary-200: hsl(217, 28%, 15%);
    --clr-primary-300: hsl(218, 28%, 13%);
    --clr-primary-400: hsl(216, 53%, 9%);

    --clr-accent-cyan: hsl(176, 68%, 64%);
    --clr-accent-blue: hsl(198, 60%, 50%);
    --clr-accent-light-red: hsl(0, 100%, 63%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 85%);

    --primary-ff: "Open Sans", sans-serif;
    --secondary-ff: "Raleway", sans-serif;
    --body-fs: 14px;
    --fw-400: 400;
    --fw-700: 700;
}

/* minimal css reset */
html {
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: var(--primary-ff);
    font-size: var(--body-fs);
    font-weight: var(--fw-400);
    background-color: var(--clr-primary-200);
    color: var(--clr-neutral-200);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-neutral-200);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-ff);
    font-weight: var(--fw-700);
    color: var(--clr-neutral-100);
}

/* scroll bar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--clr-primary-100);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
        to bottom,
        var(--clr-accent-cyan),
        var(--clr-accent-blue)
    );
    border-radius: 100vw;
}

/* -----shared styles----- */

/* cta and submit button */
.btn {
    background-image: linear-gradient(
        to right,
        var(--clr-accent-cyan),
        var(--clr-accent-blue)
    );
    color: var(--clr-neutral-100);
    border: none;
    border-radius: 100vw;
    min-width: 18em;
    height: 3.5em;
    font-weight: var(--fw-700);
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-image: none;
    background-color: var(--clr-accent-cyan);
    filter: brightness(105%);
}

/* styling ancher tag while hovering */
a[class="hover"]:hover,
a[class="hover"]:focus {
    border-bottom: 1px solid var(--clr-neutral-100);
    color: var(--clr-neutral-100);
}

/* centering text */
.text-center {
    text-align: center;
}

/* container */
.container {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
}

/* -----App Style----- */

/* navbar */
nav {
    padding-block: 2em;
    position: sticky;
    top: 0;
    background-color: var(--clr-primary-200);
    z-index: 10;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a:has(img) {
    display: grid;
    place-content: center;
}

nav a img {
    width: 6em;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2em;
}

/* hero section */
.hero-section {
    padding-block: 2em;
    position: relative;
    background-image: url("/assets/backgrounds/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 250px;
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
}

.hero-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
}

.hero-section .content img {
    width: 100%;
}

.hero-section .content h1 {
    font-size: 1.5rem;
}

.hero-section .content h1,
.hero-section .content p {
    line-height: 1.5em;
}

/* features section */
.features-section {
    padding-block: 8em 10em;
    background-color: var(--clr-primary-300);
}

.features-section .container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.features-section .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: 250px;
}

.features-section .feature img {
    width: 6em;
    height: 6em;
    object-fit: contain;
    margin-bottom: 1.5em;
}

/* description section */
.description-section {
    background-color: var(--clr-primary-300);
    padding-bottom: 12em;
}

.description-section .container {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.description-section img {
    width: 100%;
}

.description-section .content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.description-section .content a {
    color: var(--clr-accent-cyan);
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: fit-content;
    border-bottom: 2px solid var(--clr-accent-cyan);
    padding-bottom: 5px;
}

.description-section .content a:hover,
.description-section .content a:focus {
    color: var(--clr-neutral-200);
    border-color: var(--clr-neutral-100);
}

.description-section .content a svg {
    width: 1.5em;
}
.description-section .content a svg .icon {
    fill: #62e0d9;
}
.description-section .content a:hover svg .icon,
.description-section .content a:focus svg .icon {
    fill: var(--clr-neutral-100);
}

/* testimonials section */
.testimonials-section {
    background-color: var(--clr-primary-300);
    padding-block: 2em;
}

.testimonials-section .container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 4em;
    position: relative;
    isolation: isolate;
}

.testimonials-section .bg-quote {
    position: absolute;
    top: -38px;
    left: 10px;
    z-index: -1;
}

.testimonials-section .testimonial {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--clr-primary-100);
    border-radius: 5px;
    padding: 2.5em 2em 2.5em 2.5em;
}

.testimonials-section .testimonial p {
    line-height: 1.8em;
}

.testimonials-section .testimonial .profile {
    display: flex;
    align-items: center;
    gap: 1em;
}

.testimonials-section .testimonial .profile img {
    border-radius: 50%;
    height: 3em;
    width: 3em;
}

.testimonials-section .testimonial .profile div h4 {
    letter-spacing: 2px;
}
.testimonials-section .testimonial .profile div span {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.testimonials-section .testimonial .profile div {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

/* footer */
footer {
    background-color: var(--clr-primary-400);
    padding-block: 15em 3em;
}

footer .logo a img {
    width: 10em;
    margin-bottom: 3em;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

footer .footer-content .location {
    display: flex;
    gap: 1em;
}

footer .footer-content .location .location-icon {
    margin-top: 3px;
}

footer .footer-content .contact-info {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.contact-info div {
    display: flex;
    gap: 1em;
    align-items: center;
}

footer .footer-content .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

footer .footer-content .footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

footer .footer-content .footer-nav ul li a {
    font-size: 1rem;
}

footer .footer-content .footer-nav ul li a:hover,
footer .footer-content .footer-nav ul li a:focus {
    color: var(--clr-neutral-100);
}

footer .footer-content .social-icons {
    display: flex;
    gap: 1em;
    justify-content: center;
}

footer .footer-content .social-icons .icon {
    border: 1px solid var(--clr-neutral-100);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

footer .footer-content .social-icons .icon:hover,
footer .footer-content .social-icons .icon:focus {
    border-color: var(--clr-accent-cyan);
    color: var(--clr-accent-blue);
}

footer .footer-content .social-icons .facebook {
    font-size: 0.8rem;
}

footer .footer-content .social-icons .twitter {
    font-size: 0.6rem;
}

footer .footer-content .social-icons .instagram {
    font-size: 0.8rem;
}

/* signup form */
.signup-form {
    background-color: var(--clr-primary-300);
}

.signup-form .container {
    background-color: var(--clr-primary-200);
    padding: 2em 1em 1.5em 1em;
    width: 85%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 10px;
    translate: 0 145px;
}

.signup-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.signup-form form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    position: relative;
}

.signup-form form div span {
    font-size: 0.7rem;
    color: var(--clr-accent-light-red);
    display: none;
    position: absolute;
    bottom: -20px;
    left: 28px;
}

.signup-form form div span.error {
    display: inline;
}

.signup-form form input {
    border-radius: 100vw;
    min-width: 16em;
    height: 3.5em;
    border: none;
    outline: none;
    padding-left: 2em;
}

.signup-form form input::placeholder {
    color: var(--clr-neutral-200);
}

/* -----media queries----- */

/* navbar media queries */
@media screen and (max-width: 360px) {
    nav a img {
        width: 4em;
    }

    nav ul {
        gap: 1em;
    }
}

@media screen and (min-width: 720px) {
    nav ul {
        gap: 3em;
    }
}

/* hero section media queries */
@media screen and (min-width: 720px) {
    .hero-section .container,
    .hero-section .content {
        gap: 2em;
    }

    .hero-section .content {
        width: 70%;
    }
}
@media screen and (min-width: 1200px) {
    .hero-section {
        background-image: url("/assets/backgrounds/bg-curvy-desktop.svg");
    }
    .hero-section .content {
        width: 40%;
    }
}
@media screen and (min-width: 2600px) {
    .hero-section {
        background-size: 40% 250px;
        background-position: 50% 120%;
    }
}

/* features section media queries */
@media screen and (min-width: 720px) {
    .features-section .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .features-section .container {
        grid-template-columns: 380px 380px;
    }
}

/* description section media queries */
@media screen and (min-width: 820px) {
    .description-section img {
        width: 80%;
        margin-inline: auto;
    }
    .description-section .content {
        width: 90%;
    }
    .description-section .content h3 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .description-section .container {
        flex-direction: row;
        align-items: center;
    }
    .description-section img {
        width: 50%;
    }

    .description-section .content h3 {
        font-size: 2rem;
        width: 50%;
    }

    .description-section .content p {
        width: 80%;
    }
}

/* testimonials section media queries */
@media screen and (min-width: 720px) {
    .testimonials-section .container {
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
}

@media screen and (min-width: 1200px) {
    .testimonials-section .container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .testimonials-section .container .bg-quote {
        left: -10px;
    }

    .testimonial {
        padding-left: 2em;
    }
}

/* footer media queries */
@media screen and (min-width: 720px) {
    footer .logo a img {
        width: 6em;
        margin-bottom: 2.5em;
    }

    footer .footer-content .location {
        width: 50%;
    }

    footer .footer-content .footer-nav {
        flex-direction: row;
        gap: 4em;
    }
}

@media screen and (min-width: 1200px) {
    footer .footer-content {
        flex-direction: row;
    }

    footer .footer-content .location {
        width: 28%;
    }

    footer .footer-content .contact-info {
        gap: 1em;
        margin-right: 5em;
    }
    footer .footer-content .contact-info div {
        gap: 2em;
    }

    footer .footer-content .footer-nav {
        gap: 5em;
    }

    footer .footer-content .social-icons .icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}

/* signup form media queries */
@media screen and (min-width: 720px) {
    .signup-form form {
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .signup-form .container {
        padding-block: 3em;
        translate: 0 135px;
    }

    .signup-form p {
        width: 80%;
        margin-inline: auto;
    }

    .signup-form h3 {
        font-size: 2rem;
    }

    .signup-form form input {
        width: 30em;
    }
}
