/* Open Sans font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* Ralway font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
    --clr-primary-100: hsl(219, 30%, 18%);
    --clr-primary-200: hsl(217, 28%, 15%);
    --clr-primary-300: hsl(218, 28%, 13%);
    --clr-primary-400: hsl(216, 53%, 9%);

    --clr-accent-cyan: hsl(176, 68%, 64%);
    --clr-accent-blue: hsl(198, 60%, 50%);
    --clr-accent-light-red: hsl(0, 100%, 63%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 85%);

    --primary-ff: "Open Sans", sans-serif;
    --secondary-ff: "Raleway", sans-serif;
    --body-fs: 14px;
    --fw-400: 400;
    --fw-700: 700;
}

/* minimal css reset */
html {
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: var(--primary-ff);
    font-size: var(--body-fs);
    font-weight: var(--fw-400);
    background-color: var(--clr-primary-200);
    color: var(--clr-neutral-200);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-neutral-200);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-ff);
    font-weight: var(--fw-700);
    color: var(--clr-neutral-100);
}

/* scroll bar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--clr-primary-100);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
        to bottom,
        var(--clr-accent-cyan),
        var(--clr-accent-blue)
    );
    border-radius: 100vw;
}

/* -----shared styles----- */

/* cta and submit button */
.btn {
    background-image: linear-gradient(
        to right,
        var(--clr-accent-cyan),
        var(--clr-accent-blue)
    );
    color: var(--clr-neutral-100);
    border: none;
    border-radius: 100vw;
    min-width: 18em;
    height: 3.5em;
    font-weight: var(--fw-700);
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-image: none;
    background-color: var(--clr-accent-cyan);
    filter: brightness(105%);
}

/* styling ancher tag while hovering */
a[class="hover"]:hover,
a[class="hover"]:focus {
    border-bottom: 1px solid var(--clr-neutral-100);
    color: var(--clr-neutral-100);
}

/* centering text */
.text-center {
    text-align: center;
}

/* container */
.container {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
}

/* -----App Style----- */

/* navbar */
nav {
    padding-block: 2em;
    position: sticky;
    top: 0;
    background-color: var(--clr-primary-200);
    z-index: 10;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a:has(img) {
    display: grid;
    place-content: center;
}

nav a img {
    width: 6em;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2em;
}

/* -----media queries----- */

/* navbar media queries */
@media screen and (max-width: 360px) {
    nav a img {
        width: 4em;
    }

    nav ul {
        gap: 1em;
    }
}

@media screen and (min-width: 720px) {
    nav ul {
        gap: 3em;
    }
}
